
@media all and (max-width: 40em) {
  .left-align {
    text-align: center;
  }
  .right-align {
    text-align: center;
  }
}

@media all and (max-width: 300px) {
  .title {
    font-size: 1.3rem;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
  }
  .xs-center {
    text-align: center
  }
  .site-title {
    bottom: -28px;
    top: auto;
    left: 50%;
    margin-left: -25px;
    border-radius: 200px;
    transition: .2s ease bottom
  }
  .site-title:hover {
    bottom: -14px;
  }
  .recipes .sm-col {
    border-bottom: 3px solid white
  }
}

img {
  width: 100%;
}

.max-width-4 {
  max-width: 64em
}

.max-width-3 {
  max-width: 52em
}

.max-width-2 {
  max-width: 40em
}

.hero {
  height: 150px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}